.header {
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.header-img img {
  transition: filter 0.2s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.header-img img:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
