body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  transition: color 0.5s;
}

a:focus,
button:focus {
  outline: none;
}
